[mysql]
default-character-set = utf8mb4

[mysqld]
datadir=/test/mysql
character-set-server = utf8mb4
collation-server = utf8mb4_bin
explicit_defaults_for_timestamp = 1

[client]
default-character-set = utf8mb4
